huggingface_hub==1.22.0
numpy==1.26.1
Pillow==10.3.0
ruff==0.15.16
torch==2.3.1
torchvision==0.18.1
transformers==5.0.0
safetensors
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
wandb
pyglet<2
viser
gradio
lpips
hydra-core
tyro>=1.0,<2
h5py
accelerate
scikit-learn
gsplat
evo
open3d