torch==2.3.1
torchvision==0.18.1
numpy==1.26.1
Pillow==10.3.0
transformers==5.0.0
huggingface_hub==1.22.0
safetensors
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
wandb
pyglet<2
viser
gradio
lpips
hydra-core
h5py
accelerate
scikit-learn
gsplat
evo
open3d